//=============================================================
.header {
	position: fixed;
	right: 0;
	left: 0;
	@include adaptiveValue("padding-top", 30, 5);
	@include adaptiveValue("padding-bottom", 30, 5);
	font-weight: 500;
	font-size: toRem(18);
	z-index: 100;
	transition: background-color 0.3s;

	&._header-scroll {
		background-color: rgb(246, 246, 246, 0.97);
	}

	&__container {
		display: flex;
		gap: toRem(20);
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		z-index: 5;

		img {
			@include adaptiveValue("max-width", 246, 140);
			width: 100%;
		}

		@media (max-width:$pc) {
			flex-grow: 1;
		}
	}

	&__spollers {
		cursor: pointer;
	}

	&__spollers-item {

		summary {
			list-style: none;
		}

		summary::-webkit-details-marker {
			display: none;
		}
	}

	&__spollers-title {
		display: flex;
		align-items: center;
		gap: toRem(5);
		transition: color 0.3s;
		justify-content: end;

		@media (max-width:$pc) {
			font-size: toRem(24);
		}

		svg {
			path {
				transition: all 0.2s;
			}
		}

		&:hover {
			color: var(--accent-color);

			svg {
				path {
					stroke: var(--accent-color);
				}
			}
		}

		&._spoller-active {

			svg {
				transform: rotate(180deg);
			}
		}
	}

	&__spollers-body {
		border-radius: toRem(10);
		background-color: var(--white-color);

		@media (min-width:$pc) {
			position: absolute;
		}

		@media (max-width:$pc) {
			padding: 0 toRem(10);
		}

		margin-top: toRem(15);
	}

	&__spollers-link {
		transition: color 0.3s;
		font-size: toRem(16);

		&:hover {
			color: var(--accent-color);
		}
	}

	&__spollers-wrapper {
		display: flex;
		flex-direction: column;
		gap: toRem(8);
		padding: toRem(10);
	}

	&__phone {
		display: flex;
		align-items: center;
		gap: toRem(4);
		transition: color 0.3s;
		z-index: 5;

		._header-scroll & {
			color: var(--main-color);
		}

		@media (min-width:$mobile) {
			color: var(--white-color);
		}

		@media (max-width:$mobileSmall) {
			justify-content: end;
			padding: toRem(5) toRem(15);
		}

		&:hover {
			color: var(--accent-color);
		}

		&::before {
			content: '';
			background-image: url('@img/icons/phone.svg');
			background-repeat: no-repeat;
			width: toRem(22);
			height: toRem(22);
		}
	}
}

.menu {
	display: flex;

	@media (max-width:$pc) {
		order: 2;
	}

	&__body {
		@media (max-width:$pc) {
			position: fixed;
			width: 300px;
			height: 100%;
			top: 0;
			right: -350px;
			transition: transform 0.3s;
			z-index: 1;
			background-color: var(--white-color);
			overflow: auto;

			.menu-open & {
				transform: translateX(-350px);
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(30);
		row-gap: toRem(5);

		@media (max-width:$pc) {
			padding-top: toRem(110);
			@include adaptiveValue("padding-top", 130, 90);
			flex-direction: column;
			align-items: end;
			padding-right: toRem(15);
			width: 100%;
		}
	}

	&__item {

		@media (min-width:$pc) {
			&:last-child {
				color: var(--white-color);
			}

			._header-scroll & {
				color: var(--main-color);
			}
		}
	}

	&__link {
		transition: color 0.3s;

		@media (max-width:$pc) {
			display: block;
			font-size: toRem(24);
			padding: toRem(5) 0;
		}

		&:hover {
			color: var(--accent-color);
		}
	}

}

//=============================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $pc) {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: toRem(44);
		height: toRem(44);
		margin-right: toRem(-10);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		.burger-line {
			width: toRem(30);
			height: toRem(2);
			position: relative;
			transition: background-color 0.2s;
			background-color: #000000;

			@media (min-width:$mobile) {
				background-color: #fff;

				._header-scroll & {
					background-color: #000;
				}
			}

			&::before,
			&::after {
				content: '';
				right: 0;
				width: 100%;
				height: 100%;
				background-color: #000000;
				position: absolute;
				transition: all 0.3s ease 0s;

				@media (min-width:$mobile) {
					background-color: #fff;

					._header-scroll & {
						background-color: #000;
					}
				}
			}

			&::before {
				top: toRem(-10);
			}

			&::after {
				bottom: toRem(-10);
			}

			.menu-open & {
				background-color: transparent;

				&::before,
				&::after {
					background-color: #000000;
				}

				&::before {
					top: 0;
					transform: rotate(45deg);
				}

				&::after {
					transform: rotate(-45deg);
					bottom: 0;
				}
			}
		}
	}
}