.hero {
	position: relative;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	background-color: var(--background-color, #F6F6F6);
	overflow: hidden;
	padding-bottom: toRem(1);

	&__decor-img {
		position: absolute;
		z-index: 1;
		bottom: 0;
		right: 0;
	}

	&__body {
		display: flex;

		@media (max-width:$mobile) {
			flex-direction: column;
			justify-content: center;
		}
	}

	&__content {
		@media (min-width:$mobile) {
			max-width: toRem(670);
		}

		margin-top: toRem(220);
		margin-bottom: toRem(100);
		width: 100%;
		@include adaptiveValue("margin-top", 220, 120, 1, 1920, 767.98);
		@include adaptiveValue("margin-bottom", 100, 50, 1, 1920, 767.98);
		z-index: 1;

		@media (max-width:$mobile) {
			@include adaptiveValue("margin-bottom", 20, 10);
			@include adaptiveValue("margin-top", 130, 90);
			text-align: center;
		}
	}

	&__title {
		font-size: toRem(47);
		@include adaptiveValue("font-size", 47, 26, 1, 767.98);
		font-weight: 700;
		text-transform: uppercase;
		@include adaptiveValue("margin-bottom", 20, 10);

		@media (max-width:$tablet) {
			max-width: toRem(450);
		}

		span {
			color: var(--accent-color);
		}

		@media (max-width:$mobile) {
			max-width: 100%;
		}
	}

	&__text {
		@include adaptiveValue("margin-bottom", 50, 15);
		@include adaptiveValue("font-size", 18, 14);

		@media (max-width:$pc) {
			@include adaptiveValue("max-width", 650, 500, 1, 1200, 900);
			max-width: toRem(500);
		}

		@media (max-width:$mobile) {
			max-width: 100%;
		}
	}

	&__buttons {
		display: flex;
		gap: toRem(30);
		@include adaptiveValue("margin-bottom", 15, 10);

		@media (max-width:$mobile) {
			justify-content: center;
			flex-wrap: wrap;
			row-gap: toRem(10);

			button {
				max-width: toRem(314);
			}
		}
	}

	&__img {

		img {
			margin: 0 auto;
			max-width: 900px;
			width: 100%;
			min-height: 1100px;
			object-fit: cover;
			object-position: 25%;
			border-bottom-left-radius: 50%;
			border-top-left-radius: 50%;
		}

		@media (min-width:$mobile) {
			img {
				@include adaptiveValue("max-width", 900, 370, 1, 1920);
				top: -10%;
				@include adaptiveValue("right", 0, -180, 1, 1920, 1100);
				right: -180px;
				position: absolute;
				height: 100%;
			}
		}

		@media (max-width:$mobile) {
			img {
				margin-bottom: -20%;
				max-width: toRem(590);
				min-height: toRem(590);
				@include adaptiveValue("min-height", 590, 300, 1, 767.98);
				border-radius: 50%;
			}
		}

		@media (max-width:$mobileSmall) {
			@include adaptiveValue("margin-right", 0, -50);
		}
	}

	&__discount-text {
		@include adaptiveValue("font-size", 16, 14);
	}
}

//===========================================================

.cleaning {
	@include adaptiveValue("padding-top", $padding-big, $padding-small);
	@include adaptiveValue("padding-bottom", calc($padding-big / 2), calc($padding-small / 2));

	&__general,
	&__supportive,
	&__after-repair,
	&__window-washing {
		@include adaptiveValue("margin-bottom", 30, 20);
	}

	&__btn {
		margin: 0 auto;
	}
}

.general-cleaning {

	&__title {
		margin-bottom: 0;
	}

	&__info-btn--room-1 {
		left: 23%;
		top: 35%;
	}

	&__info-btn--room-2 {
		top: 35%;
		right: 5px;
		flex-direction: column-reverse;
	}

	&__info-btn--room-3 {
		right: 9%;
		bottom: 15%;
	}

	&__info-btn--room-4 {
		bottom: 5%;
		left: 1%;
		flex-direction: column-reverse;
	}

	&__info-btn--room-5 {
		left: 7%;
		bottom: 30%;
	}

	&__info-btn--kitchen-1 {
		left: 23%;
		top: 22%;
		flex-direction: column-reverse;
	}

	&__info-btn--kitchen-2 {
		top: 35%;
		right: 5px;
		flex-direction: column-reverse;
	}

	&__info-btn--kitchen-3 {
		left: 30%;
		bottom: 23%;
	}

	&__info-btn--kitchen-4 {
		bottom: 5%;
		left: 1%;
		flex-direction: column-reverse;
	}

	&__info-btn--kitchen-5 {
		left: 12%;
		bottom: 33%;
	}

	&__info-btn--bathroom-1 {
		left: 23%;
		top: 22%;
		flex-direction: column-reverse;
	}

	&__info-btn--bathroom-2 {
		top: 38%;
		right: 3%;
		flex-direction: column-reverse;
	}

	&__info-btn--bathroom-3 {
		left: 35%;
		bottom: 27%;
	}

	&__info-btn--bathroom-4 {
		bottom: 5%;
		left: 1%;
		flex-direction: column-reverse;
	}

	&__info-btn--bathroom-5 {
		top: 37%;
		left: 1%;
	}
}

.supportive-cleaning {

	&__info-btn--room-1 {
		left: 1%;
		top: 30%;
		flex-direction: column-reverse;
	}

	&__info-btn--room-2 {
		bottom: 23%;
		left: 33%;
		flex-direction: column-reverse;
	}

	&__info-btn--room-3 {
		right: 1%;
		top: 30%;
		flex-direction: column-reverse;
	}

	&__info-btn--room-4 {
		bottom: 7%;
		right: 10%;
		flex-direction: column-reverse;
	}

	&__info-btn--room-5 {
		left: 1%;
		bottom: 5%;
		flex-direction: column-reverse;
	}

	&__info-btn--kitchen-1 {
		left: 8%;
		top: 45%;
		flex-direction: column-reverse;
	}

	&__info-btn--kitchen-2 {
		top: 45%;
		left: 37%;
		flex-direction: column-reverse;
	}

	&__info-btn--kitchen-3 {
		right: 5%;
		bottom: 30%;
	}

	&__info-btn--kitchen-4 {
		bottom: 5%;
		left: 5%;
		flex-direction: column-reverse;
	}

	&__info-btn--bathroom-1 {
		left: 23%;
		top: 22%;
		flex-direction: column-reverse;
	}

	&__info-btn--bathroom-2 {
		top: 38%;
		right: 3%;
		flex-direction: column-reverse;
	}

	&__info-btn--bathroom-3 {
		bottom: 12%;
		right: 30%;
	}

	&__info-btn--bathroom-4 {
		bottom: 10%;
		left: 1%;
		flex-direction: column-reverse;
	}

	&__info-btn--bathroom-5 {
		top: 37%;
		left: 1%;
	}
}

.after-repair-cleaning {
	&__info-btn--room-1 {
		left: 22%;
		top: 25%;
		flex-direction: column-reverse;
	}

	&__info-btn--room-2 {
		top: 40%;
		right: 12%;
		flex-direction: column-reverse;
	}

	&__info-btn--room-3 {
		right: 10%;
		bottom: 10%;
		flex-direction: column-reverse;
	}

	&__info-btn--room-4 {
		bottom: 7%;
		left: 25%;
		flex-direction: column-reverse;
	}

	&__info-btn--room-5 {
		left: 1%;
		bottom: 30%;
		flex-direction: column-reverse;
	}
}

.cleaning-tabs-nav {
	display: flex;
	gap: toRem(20);
	justify-content: center;
	@include adaptiveValue("margin-bottom", 20, 10);

	@media (max-width:$mobile) {
		flex-wrap: wrap;
		gap: toRem(10);

		.btn {
			max-width: toRem(210);
		}
	}

	@media (max-width:$mobileSmall) {
		.btn {
			max-width: 100%;
		}
	}
}

.cleaning-tabs-body {
	display: flex;
	gap: toRem(20);

	@media (max-width:$mobile) {
		flex-direction: column;
	}
}

.cleaning-tabs-img {
	position: relative;
	max-width: toRem(590);
	width: 100%;
	overflow: hidden;
	border-radius: toRem(10);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

	img {
		height: 100%;
	}

	@media (max-width:$tablet) {
		display: none;
	}
}

//===========================================================

.equipment {
	background: var(--Liner, linear-gradient(180deg, #F6F6F6 95.67%, rgba(246, 246, 246, 0.00) 100%));
	position: relative;

	@include adaptiveValue("padding-top", $padding-big, calc($padding-small / 2));

	@include adaptiveValue("padding-bottom", $padding-big, calc($padding-small / 2));

	&__decor-img {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(10);

		@media (max-width:$pc) {
			flex-direction: column;
		}
	}

	&__item {
		max-width: toRem(600);
		width: 100%;
		border-radius: 10px;
		background: var(--white-color, #FFF);
		padding: toRem(30) toRem(20);

		@media (max-width:$pc) {
			max-width: toRem(800);
		}

		@media (max-width:$mobileSmall) {
			padding: toRem(15);
		}
	}

	&__item-title {
		margin: 0;
	}

	&__item-title-box {
		display: flex;
		align-items: center;
		gap: toRem(10);
		justify-content: space-between;
		margin-bottom: toRem(5);

		@media (max-width: em(600)) {
			flex-direction: column;
			gap: toRem(5);
		}

		span {
			font-size: toRem(14);
			color: rgba(3, 12, 21, 0.58);
		}
	}

	&__item-img {
		max-width: toRem(360);
		width: 100%;
		margin: 0 auto;
		margin-bottom: toRem(5);

		img {
			transition: transform 0.3s;
		}

		&:hover {
			img {
				transform: scale(1.05);
			}
		}
	}

	&__item-text {
		@media (min-width:$pc) {
			max-width: toRem(520);
		}

		width: 100%;
		@include adaptiveValue("font-size", 16, 13);
	}

	&__item-slider {
		max-width: toRem(570);
		width: 100%;

		@media (max-width:$pc) {
			max-width: toRem(800);
		}
	}

	&__item-slider-text {
		font-size: toRem(20);
		font-weight: 500;
		@include adaptiveValue("margin-bottom", 15, 10);
	}

	&__wrapper {
		@media (min-width:em(600)) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			row-gap: toRem(20);
			column-gap: toRem(10);
			justify-items: center;
		}

		margin-bottom: toRem(20);
	}

	&__slide-img {
		max-width: toRem(183);
		width: 100%;
		min-height: toRem(160);
		background-color: var(--white-color);
		margin-bottom: toRem(5);
		overflow: hidden;

		img {
			transition: transform 0.3s;
		}

		&:hover {
			img {
				transform: scale(1.05);
			}
		}
	}

	&__slide-text {
		font-size: toRem(12);
		color: rgba(3, 12, 21, 0.58);
	}

	&__slider-buttons {
		display: none;

		@media (max-width: em(600)) {
			display: flex;
			justify-content: center;
			gap: toRem(15);
		}

	}
}

//===========================================================

.why-us,
.how-to-get {
	background-image: url('@img/why-us/decor.png');
	background-repeat: no-repeat;
	background-position: toRem(0) toRem(-250);
}

.why-us {
	@include adaptiveValue("padding-top", calc($padding-big / 2), calc($padding-small / 2));
	@include adaptiveValue("padding-bottom", calc($padding-big), $padding-small);
}

//============================================================

.our-works {
	position: relative;
	@include adaptiveValue("padding-top", $padding-big, calc($padding-small + 30));
	@include adaptiveValue("padding-bottom", calc($padding-big / 2), calc($padding-small / 2));

	background: var(--Liner, linear-gradient(180deg, #F6F6F6 95.67%, rgba(246, 246, 246, 0.00) 100%));

	&::before {
		content: '';
		position: absolute;
		background-image: url('@img/our-works/decor-top.svg');
		width: 100%;
		height: toRem(80);
		background-repeat: no-repeat;
		top: -1px;
	}

	&__container {
		position: relative;

		@media (max-width:$mobileSmall) {
			padding: 0 toRem(10);
		}
	}

	&__slider {
		padding-bottom: toRem(10);
	}

	&__wrapper {
		margin-bottom: toRem(30);
	}

	&__images-box {
		position: relative;
		display: flex;
		gap: toRem(10);
	}

	&__img {
		overflow: hidden;
		border-radius: toRem(10);
		@include adaptiveValue("height", 510, 260);
		@include adaptiveValue("width", 285, 165);

		img,
		video {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__img-text {
		position: absolute;
		font-size: toRem(20);
		font-weight: 500;
		padding: toRem(5) toRem(10);
		background: var(--white-color);
		border-radius: toRem(10);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

//================================================

.how-to-get {
	@include adaptiveValue("padding-top", calc($padding-big / 2), calc($padding-small / 2));
	@include adaptiveValue("padding-bottom", calc($padding-big / 2), calc($padding-small / 2));

	&__btn {
		@media (min-width:$tablet) {
			margin-left: toRem(315);
			margin-top: toRem(70);
		}

		@media (max-width:$tablet) {
			margin: 0 auto;
			@include adaptiveValue("margin-top", 30, 20);
		}
	}
}

//=============================================================

.about {

	@include adaptiveValue("padding-top", calc($padding-big / 2), calc($padding-small / 2));

	@include adaptiveValue("padding-bottom", calc($padding-big / 2), calc($padding-small / 2));

	position: relative;
	background: var(--Liner, linear-gradient(180deg, #F6F6F6 95.67%, rgba(246, 246, 246, 0.00) 100%));

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: toRem(180);
		background-repeat: no-repeat;
	}

	&::before {
		background-image: url('@img/about/decor-top.svg');
		top: 0;
	}

	&::after {
		background-image: url('@img/about/decor-bottom.svg');
		bottom: 0;
	}

	&__container {
		padding-top: toRem($ctn-padding);

		@media (max-width:$mobileSmall) {
			padding: 0 toRem(10);
		}
	}

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		gap: toRem(15);
		z-index: 1;

		@media (max-width:$tablet) {
			flex-direction: column;
		}
	}

	&__info-item {
		width: 100%;

		@media (min-width:$tablet) {
			min-width: toRem(590);
		}
	}

	&__heading {
		font-size: toRem(18);
		display: flex;
		align-items: center;
		gap: toRem(5);
		line-height: 1.3;
		@include adaptiveValue("margin-bottom", 15, 10);

		&::before {
			content: '';
			background-image: url('@img/icons/arrow.svg');
			background-repeat: no-repeat;
			min-width: toRem(24);
			min-height: toRem(24);
		}
	}

	&__text-block {
		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 8, 5);
			}
		}

		@include adaptiveValue("margin-bottom", 20, 15);
	}

	&__stat-block {
		display: flex;
		gap: toRem(55);
		@include adaptiveValue("margin-bottom", 30, 15);
	}

	&__stat-block,
	&__buttons-block {
		@media (max-width:$tablet) {
			justify-content: center;
		}
	}

	&__stat-block-item {
		display: flex;
		flex-direction: column;
	}

	&__stat-block-heading {
		color: var(--blue-color);
		font-weight: 500;
		@include adaptiveValue("font-size", 40, 30);
	}

	&__stat-block-text {
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 600;
	}

	&__buttons-block {
		display: flex;
		@include adaptiveValue("gap", 15, 10);

		@media (max-width: em(600)) {
			flex-direction: column;
		}
	}

	&__btn {
		@media (max-width: em(600)) {
			max-width: 100%;
		}
	}

	&__img-item {
		width: 100%;

		@media (min-width:$tablet) {
			max-width: toRem(590);
		}
	}

	&__img {
		position: relative;
		width: 100%;
		height: 100%;
		margin-left: auto;
		border-radius: toRem(10);

		@media (min-width:$tablet) {
			max-width: toRem(525);
		}

		img {
			height: 100%;
			border-radius: toRem(10);
			object-fit: cover;

			@media (max-width:$tablet) {
				width: 100%;
				max-height: toRem(340);
				object-fit: cover;
			}
		}
	}

	&__img-item-text {
		position: absolute;
		z-index: 1;
		display: flex;
		flex-direction: column;
		max-width: toRem(250);
		@include adaptiveValue("font-size", 14, 12);
		font-weight: 500;
		background-color: var(--white-color);
		border: 1px solid var(--blue-color, #004D73);
		bottom: 20%;
		left: toRem(15);
		padding: toRem(5) toRem(15) toRem(15) toRem(15);
		border-radius: toRem(10);

		@media (min-width:$pc) {
			transform: translateX(-25%);
		}

		@media (max-width:$mobileSmall) {
			padding: toRem(10);
			max-width: toRem(220);
			left: toRem(5);
		}

		&::before {
			content: '';
			background-image: url('../img/icons/quote.svg');
			min-width: toRem(24);
			min-height: toRem(24);
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

//=============================================================

.reviews {

	@include adaptiveValue("padding-top", calc($padding-big / 2), calc($padding-small / 2));

	@include adaptiveValue("padding-bottom", calc($padding-big / 2), calc($padding-small / 2));

	&__container {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			background-image: url('@img/reviews/decor.png');
			width: toRem(310);
			height: toRem(280);
			top: 0;
			right: 0;
			z-index: -1;
		}
	}

	&__wrapper {
		padding: toRem(10);
		@include adaptiveValue("margin-bottom", 30, 15);
	}

	&__slide-img {
		max-width: toRem(387);
		@include adaptiveValue("max-width", 387, 280);
		width: 100%;
		height: toRem(190);
		box-shadow: 0px 5.407px 13.517px 0px rgba(0, 0, 0, 0.25);

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

//============================================================

.faq {
	position: relative;
	@include adaptiveValue("padding-top", calc($padding-big / 2), calc($padding-small / 2));

	@include adaptiveValue("padding-bottom", calc($padding-big / 2), calc($padding-small / 2));

	background: var(--Liner, linear-gradient(180deg, #F6F6F6 95.67%, rgba(246, 246, 246, 0.00) 100%));

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: toRem(100);
		background-repeat: no-repeat;
	}

	&::before {
		background-image: url('@img/faq/decor-top.svg');
		top: toRem(-1);
	}

	&::after {
		background-image: url('@img/faq/decor-bottom.svg');
		bottom: 0;
	}

	&__container {
		padding: toRem($ctn-padding) toRem(15);
	}

	&__body {
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
	}

	&__questions {
		@media (min-width:$mobile) {
			max-width: toRem(690);
		}

		width: 100%;
	}

	&__spollers-item {
		cursor: pointer;

		summary {
			list-style: none;
		}

		summary::-webkit-details-marker {
			display: none;
		}

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 10, 5);
		}
	}

	&__spollers-title {
		position: relative;
		@include adaptiveValue("font-size", 20, 16);
		font-weight: 500;
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 15, 5);
		@include adaptiveValue("padding", 25, 10);
		@include adaptiveValue("margin-bottom", 10, 5);

		&::before {
			content: '';
			background-image: url('@img/icons/shevron-green.svg');
			min-width: toRem(35);
			min-height: toRem(35);
			transition: transform 0.3s;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&._spoller-active {
			&::before {
				transform: rotate(180deg);
			}
		}
	}

	&__spollers-title,
	&__spollers-body {
		border-radius: 10px;
		background: var(--white-color, #FFF);
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	}

	&__spollers-wrapper {
		@include adaptiveValue("padding", 25, 10);
	}

	&__spollers-body-text {
		margin-bottom: toRem(10);
	}

	&__spollers-body-item {
		display: flex;
		gap: toRem(2);

		&::before {
			content: '-';
		}
	}

	&__img-item {
		@media (max-width:$mobile) {
			display: none;
		}
	}

	&__img-item-img {
		border-radius: toRem(10);
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

//==============================================================
.contacts {
	position: relative;
	@include adaptiveValue("padding-top", calc($padding-big / 2), calc($padding-small / 2));

	@include adaptiveValue("padding-bottom", calc($padding-big / 2), calc($padding-small / 2));

	&__title {
		max-width: toRem(255);
	}

	&__body {
		display: flex;
		justify-content: space-between;
		gap: toRem(30);

		@media (max-width:$tablet) {
			flex-direction: column;
			align-items: center;
			gap: toRem(15);
		}
	}

	&__map-item {
		@media (min-width:$tablet) {
			max-width: toRem(512);
		}

		width: 100%;
		gap: toRem(20);
		justify-content: space-between;
	}

	&__map-text {
		@include adaptiveValue("font-size", 18, 14);
	}

	&__form-item {
		max-width: toRem(590);
		width: 100%;
	}
}